<div class="container mt-3 mb-5" style="width: 40%;">
    <h3 style="text-align: center;">Rubros</h3>
    <!-- <div class="row g-3">
        <div class="col-sm">
            <label for="categoria" class="form-label">Convocatoria</label>
            <p-dropdown [options]="convocatorias" placeholder="Selecciona una Convocatoria" optionLabel="titulo" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div> -->
    <hr>
    <p-table #tableRubros [value]="categorias" selectionMode="single" [(selection)]="selectedCategoria" (onRowSelect)="addNominacion($event)" dataKey="nombre" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        styleClass="p-datatable-striped" [globalFilterFields]="['nombre','categoria.nombre']">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Nombre:
                    <input pInputText type="text" placeholder="Ingresa el nombre" [style]="{ width:'70%' }"/>
                </th>
                <th>
                    Lugar:
                    <input pInputText type="text" placeholder="Ingresa el lugar" [style]="{ width:'70%' }"/>
                </th>
            </tr>
            <tr>
                <th>
                    Personaje:
                    <input pInputText type="text" placeholder="Ingresa el personaje" [style]="{ width:'70%' }"/>
                </th>
                <th>
                    Folio:
                    <input pInputText type="text" placeholder="Ingresa el folio" [style]="{ width:'70%' }"/>
                </th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center;">
                    Rubro A:
                    <input pInputText type="text" [style]="{ width:'20%' }"/>
                </th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center;">
                    Rubro B:
                    <input pInputText type="text" [style]="{ width:'20%' }"/>
                </th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center;">
                    Rubro C:
                    <input pInputText type="text" [style]="{ width:'20%' }"/>
                </th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center;">
                    Rubro D:
                    <input pInputText type="text" [style]="{ width:'20%' }"/>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <div style="text-align: center;">
                        <button pButton pRipple label="Aceptar" class="p-button-success mr-2"></button>
                    </div>
                    <div style="text-align: right;">
                        <button pButton pRipple icon="pi pi-angle-right" class="p-button-success mr-2"></button>
                    </div>
                </th>
            </tr>
        </ng-template>
    </p-table>
</div>