<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <h3 style="text-align:center ;">Registro de Usuarios</h3>


        </ng-template>
        <ng-template pTemplate="left">

            
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"(click)="Excel()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <input class="form-control" type="file" id="formFileDisabled"   #fileImportInput name="File Upload"  id="txtFileUpload" (change)="fileChangeListener($event)" accept=".csv"/>
           
         
        
        </ng-template>
       

    </p-toolbar>

    <p-table #dt [value]="ContactoModels" [rows]="10" [paginator]="true"
        [globalFilterFields]="['nombre','country.nombre','representative.nombre','status']" responsiveLayout="scroll"
        [(selection)]="selectedContactoModels" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando   {first}hasta  {last} de {totalRecords} mensajes"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Registros</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="NOMBRE">NOMBRE
                    <p-sortIcon field="NOMBRE"></p-sortIcon>
                </th>
                <th pSortableColumn="APELLIDO PATERNO">APELLIDO PATERNO
                    <p-sortIcon field="APELLIDO PATERNO"></p-sortIcon>
                </th>
                <th pSortableColumn="APELLIDO MATERNO">APELLIDO MATERNO
                    <p-sortIcon field="APELLIDO MATERNO"></p-sortIcon>
                </th>
                <th pSortableColumn="ADULTO">CATEGORIA
                    <p-sortIcon field="ADULTO"></p-sortIcon>
                </th>
                <th pSortableColumn="LUGAR">LUGAR
                    <p-sortIcon field="LUGAR"></p-sortIcon>
                </th>
                <th pSortableColumn="PERSONAJE">PERSONAJE
                    <p-sortIcon field="PERSONAJE"></p-sortIcon>
                </th>
                <th pSortableColumn="PUNTAJE">PUNTAJE
                    <p-sortIcon field="PUNTAJE"></p-sortIcon>
                </th>
                <th>
                </th>
            </tr>
        </ng-template>





        <ng-template pTemplate="body" let-ContactoModel>
            <tr>

                <td>{{ContactoModel.nombre}}</td>
                <td>{{ContactoModel.app}}</td>
                <td>{{ContactoModel.apm}}</td>
                <td>{{ContactoModel.categoria}}</td>

                <th>
                    <input pInputText type="text" placeholder="Ingresa el lugar" [style]="{  height:'10%' }"
                     [(ngModel)]="ContactoModel.Lugar">
                </th>
                <th>
                    <input pInputText type="text" placeholder="Ingresa el personaje" [style]="{ height:'80%' }" [(ngModel)]="ContactoModel.Personaje"/>
                </th>
                <th>
                    <input pInputText type="text" placeholder="Ingresa el puntaje" [style]="{ height:'80%' }" [(ngModel)]="ContactoModel.puntaje"/>
                </th>
                <td>
                    <button pButton pRipple label="Guardar" class="p-button-rounded p-button-success mr-2" (click)="guardar(ContactoModel)"></button>
                    <!--<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(ContactoModel)"></button>-->
                </td>

                <!--<td><span
                        [class]="'ContactoModel-badge status-' + (ContactoModel.inventoryStatus ? ContactoModel.inventoryStatus.toLowerCase() : '')">{{ContactoModel.inventoryStatus}}</span>
                </td>-->

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total son {{ContactoModels ? ContactoModels.length : 0 }} Registros.
            </div>
        </ng-template>
    </p-table>
</div>


<!-- Nuevo participante -->
<p-dialog [(visible)]="visible" [style]="{width: '550px'}" header="Ingresar Nuevo Participante" [modal]="true">
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <div class="grid">
                    <h5>NOMBRE</h5>

                    <div class="field">
                        <span class="p-float-label">
                            <input id="float-input" type="text" id="NOMBRE" name="NOMBRE" required pInputText
                                [(ngModel)]="contactomodel.nombre">
                            <label for="float-input">NOMBRE</label>
                        </span>
                    </div>
                    <br>

                    <h5>APELLIDO PATERNO</h5>

                    <div class="field">
                        <span class="p-float-label">
                            <input id="float-input" type="text" id="APELLIDO PATERNO " name="APELLIDO PATERNO" required
                                pInputText [(ngModel)]="contactomodel.app">
                            <label for="float-input">APELLIDO PATERNO</label>
                        </span>
                    </div>
                    <br>
                    <h5>APELLIDO MATERNO</h5>

                    <div class="field">
                        <span class="p-float-label">
                            <input id="float-input" type="text" id="APELLIDO MATERNO " name="APELLIDO MATERNO" required
                                pInputText [(ngModel)]="contactomodel.apm">
                            <label for="float-input">APELLIDO MATERNO</label>
                        </span>
                    </div>

                    <br>

                    <h5>CATEGORIA</h5>

                    <div class="field">
                        <span class="p-float-label">
                            <input id="float-input" type="text" id="CATEGORIA" name="CATEGORIA" required pInputText
                                [(ngModel)]="contactomodel.Categoria">
                            <label for="float-input">CATEGORIA</label>
                        </span>
                    </div>

                    <br>

                </div>
                <h5>LUGAR</h5>

                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input" type="text" id="LUGAR " name="LUGAR" required pInputText
                            [(ngModel)]="contactomodel.Lugar">
                        <label for="float-input">LUGAR</label>
                    </span>

                </div>

                <br>

                <h5>PERSONAJE</h5>

                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input" type="text" id="PERSONAJE " name="PERSONAJE" required pInputText
                            [(ngModel)]="contactomodel.Personaje">
                        <label for="float-input">PERSONAJE</label>
                    </span>

                </div>

                <br>

                <h5>PUNTAJE</h5>

                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input" type="text" id="PUNTAJE " name="PUNTAJE" required pInputText
                            [(ngModel)]="contactomodel.Puntaje">
                        <label for="float-input">PUNTAJE</label>
                    </span>

                </div>
            
        </div>
    </div>
        
    </div>


    
            <ng-template pTemplate="footer">
            
                <button pButton pRipple type="button" icon="pi pi-user" label="Registrar Participante" class="p-button-rounded p-button-success" (click)="add()"></button>
                
            </ng-template>


</p-dialog>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    Content
</p-confirmDialog>